In [4]:
#Problem 1: Unique Words in a Sentence

sentence = input("Enter sentence: ")

words = sentence.split()  #Split sentence into words
unique_words = set(words) #Remove duplicates using set

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'easy', 'is', 'and', 'python', 'powerful'}

In [6]:
#Problem 2: Highest Salary from Employee Data

#Dictionary storing employee names and salaries
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

#Initialize variables to store highest salary details
highest_employee = None
highest_salary = 0

#Loop through dictionary to find highest salary
for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_employee = name

#Display result
print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [8]:
#Problem 3: Find Maximum and Minimum Values

numbers_input = input("Enter numbers separated by space: ")

numbers_str = numbers_input.split()  #Split into list of strings
numbers = []

#Convert each value manually to integer
for num in numbers_str:
    numbers.append(int(num))

maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

Enter numbers separated by space: 45 22 89 10 66
List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [9]:
# Problem 4: Count Products Above 1000
prices_input = input("Enter product prices separated by space: ")

prices_str = prices_input.split()
prices = []

#Convert each price manually to integer
for price in prices_str:
    prices.append(int(price))

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Enter product prices separated by space: 450 1200 899 1500 300
Products above 1000: 2

In [13]:
#Problem 5: Calculate Attendance Percentage (User Input Version)

attendance_input = input("Enter attendance separated by space: ")

attendance = attendance_input.split()

present_count = 0  #Counter for present days

#Count number of "P"
for day in attendance:
    if day == "P":
        present_count += 1

#Calculate percentage
total_days = len(attendance)
percentage = (present_count / total_days) * 100

print("Attendance Percentage:", percentage)

Enter attendance separated by space:  P P A P P
Attendance Percentage: 80.0

In [15]:
#Problem 6: Remove Duplicate Phone Numbers

phone_input = input("Enter phone numbers separated by space: ")

phone_str = phone_input.split()
phone_numbers = []

# Convert to integers
for num in phone_str:
    phone_numbers.append(int(num))

# Remove duplicates using set
unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Enter phone numbers separated by space: 9876543210 9123456789 9876543210
Unique phone numbers: {9876543210, 9123456789}

In [16]:
#Problem 7: Count Character Frequency

text = input("Enter a string: ")

char_count = {}

#Count frequency of each character
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

print("Character Frequency:", char_count)

Enter a string: python
Character Frequency: {'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [18]:
#Problem 8: Convert List to Tuple

numbers_input = input("Enter numbers separated by space: ")

numbers_str = numbers_input.split()
numbers = []

for num in numbers_str:
    numbers.append(int(num))

numbers_tuple = tuple(numbers)

print("Tuple:", numbers_tuple)

Enter numbers separated by space: 10 20 30
Tuple: (10, 20, 30)

In [20]:
#Problem 9: Check if a Key Exists in a Dictionary

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

#Take employee name from user
key = input("Enter employee name to check: ")

if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Enter employee name to check: Ravi
Employee exists

In [22]:
#Problem 10: Calculate Average Marks

marks_input = input("Enter marks separated by space: ")

marks_str = marks_input.split()
marks = []

#Convert to integers
for mark in marks_str:
    marks.append(int(mark))

total = 0
for mark in marks:
    total += mark

average = total / len(marks)

print("Average Marks:", average)

Enter marks separated by space: 70 75
Average Marks: 72.5